.slideshow-container {
	position: relative;
	width: 50%;
	overflow: hidden;
	margin-top: 5rem;
 }
 
 .slides {
	display: flex;
	margin-top: 0.5rem;
	transition: transform 0.3s ease-in-out;
 }
 
 .prev, .next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
 }
 
 /* Adjust the arrow styles as needed */
 .prev {
	left: 0.5rem;
 }
 
 .next {
	right: 0.5rem;
 }

 .slideshow-credit_dense {
	font-family: 'Dense', sans-serif;
	font-weight: 200;
	font-size: 16px;
	color: black;
	letter-spacing: .1rem;
	margin-top: 0.5rem;
}