.slideshow__container {
	position: relative;
	width: 50%;
	overflow: hidden;
	margin-top: var(--spacing-xlarge);
}

.slides {
	display: flex;
	margin-top: 0.5rem;
	transition: transform 0.3s ease-in-out;
}
 
.prev, .next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.prev {
	left: 0.5rem;
}
 
.next {
	right: 0.5rem;
}

.slideshow__credit {
	font-family: 'Dense', sans-serif;
	font-weight: 200;
	font-size: var(--font-size-base);
	color: var(--color-primary);
	letter-spacing: .1rem;
	margin-top: 0.5rem;
}

@media screen and (max-width: 800px) {
	.slideshow__container {
		position: relative;
		width: 100%;
		overflow: hidden;
		margin-top: var(--spacing-xlarge);
	}
}